!!!
%head
  = stylesheet_link_tag 'application.css', :media => 'screen, projection'
  = javascript_include_tag 'jquery-1.4.2.min'
  = javascript_include_tag 'application'

  /[if IE]
    = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
  /[if lt IE 8]
    = javascript_include_tag "http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"

%body{ :class => body_class }
  
  %h1.header
    Hello I am a header!  You should probably replace me.

  = yield